<div>
    <app-second-header></app-second-header>
</div>
<div class="searchStyle">
    <label for="username">CIN/CIF</label>
    <input id="user_first_name" name="firstname" size="30" type="text" />
    <label for="name">CIN Suffix</label>
    <input id="user_last_name" name="user[last_name]" size="30" type="text" />
</div>
<table id="customers">
    <tr>
        <th>Account Number>
            <th>CCY</th>
            <th>Prod Code</th>
            <th>RN Paper Advice Printing Request</th>
    </tr>
    <tr>
        <td>470476982</td>
        <td>HKD</td>
        <td>CFODA</td>
        <td> Yes </td>
    </tr>
    <tr>
        <td>470476982</td>
        <td>HKD</td>
        <td>CFODA</td>
        <td>No</td>
    </tr>
    <tr>
        <td>470476982</td>
        <td>HKD</td>
        <td>CFODA</td>
        <td> </td>
    </tr>
</table>